<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Resume</title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <div class="cv-container">
      <div class="cv-info">
        <h1>CV</h1>
        <h2>Kristian Agustin Jensen</h2>
        <p>Kjølberggata 1B, 0653 Oslo</p>
        <p>+47 988 44 228 | kristian@egileng.no</p>
        <p>Født: 22. Januar 1993</p>
      </div>
      <div class="cv-image">
        <img
          style="position: relative"
          src="/styles/images/bilde-meg-4.png"
          alt="Bilde av meg"
        />
      </div>
    </div>

    <div class="intro">
      <p style="font-size: 25px">
        Mitt navn er Kristian. Jeg er 32år gammel og har jobbet som
        elektroingeniør i 9år. Jeg har erfaring som avdelingsingeniør,
        testingeniør, design og support og salgsingeniør.
      </p>
    </div>
    <div class="cv-content">
      <div class="utdanning">
        <h2>Utdanning</h2>
        <div class="utdanning-content">
        <div class="UIO">
          
          <h3>Universitet i Oslo</h3>
          <p class="beskrivelse">
            Introduksjon til objektorientert programmering
          </p>
          <p>Enkeltemnestudie i Python programmering</p>
        </div>

        <div class="NTNU">
          <h3>NTNU - Norges Teknisk-Naturvitenskapelige Universitet</h3>
          <p class="beskrivelse">
            Bachelor i ingeniørfag - Elektro, Industriell Instrumentering
          </p>
          <p>Vitnemål sendes på oppfordring</p>
        </div>

        <div class="Videregående">
          <h3>Lørenskog Videregående Skole</h3>
          <p class="beskrivelse">Allmennfaglig studiekompetanse</p>
        </div>
      </div>
      </div>
    </div>

    
    <div class="arbeidserfaring">
      <h2>Arbeidserfaring</h2>
    <div class="arbeidserfaring-content">
      <div class="egileng jobb">
      <h3>Salgsingeniør, Egil Eng & CO AS</h3>
      <p>Faststilling<br />Jobben har følgende oppgaver:</p>
      <ul>
        <li>Innkjøp av komponenter</li>
        <li>Oppfølging av produksjon</li>
        <li>Design og utvikling av prototyper for framtidige produkter</li>
        <li>Utvikling av prosjekter, programmering og testing</li>
        <li>Utarbeidelse av dokumentasjon</li>
        <li>Salg mot interne avdelinger og mot kunder</li>
        <li>Budsjettering og prognoser</li>
      </ul>
      </div>

      <div class="supportIngeniør jobb">
      <h3>Design Support Ingeniør, Neo Monitors</h3>
      <p>Faststilling<br />Jobben har følgende oppgaver:</p>
      <ul>
        <li>
          Assistere og bistå applikasjons-teamet med teknisk dokumentasjon og
          informasjon
        </li>
        <li>Skape tilpassede tegninger og retningslinjer når forespurt</li>
      </ul>
      </div>

      <div class="neoSalg jobb">
      <h3>Technical Sales Ingeniør, Neo Monitors</h3>
      <p>Faststilling<br />Jobben har følgende oppgaver:</p>
      <ul>
        <li>
          Assistere og bistå applikasjons-teamet med teknisk dokumentasjon og
          informasjon
        </li>
        <li>Opprettholde og oppdatere eksisterende produkt dokumentasjon</li>
        <li>Utvikle retningslinjer for installasjon av produkter</li>
        <li>Skape tilpassede tegninger og retningslinjer når forespurt</li>
        <li>Oppdatere/vedlikeholde produkt datablader og prislister</li>
        <li>Rapportere aktiviteter og planer av kunde prosjekter</li>
        <li>Koordinere Factory Acceptance Tester med kunder</li>
      </ul>
      </div>
      <div class="neoTest jobb">
      <h3>Testingeniør, Neo Monitors</h3>
      <p>Faststilling<br />Jobben har følgende oppgaver:</p>
      <ul>
        <li>Test, justering og kalibrering av ferdigstilte instrumenter</li>
        <li>Feilsøking og reparasjon av instrumenter mottatt fra kunder</li>
        <li>Delta i utvikling og realisering av mer rasjonelt testutstyr</li>
        <li>
          Test av og feilsøking på elektroniske moduler produsert av
          underleverandører
        </li>
        <li>
          Bistå vår serviceavdeling med kundesupport per e-post og telefon
        </li>
      </ul>
      </div>
      <div class="NTNU jobb">
      <h3>Avdelingsingeniør, NTNU</h3>
      <p>Faststilling<br />Jobben har følgende oppgaver:</p>
      <ul>
        <li>Programmere og sette opp dataloggere for tilkopling av instrumenter med ulike grensesnitt i laboratorier
          og felt 
          </li>
        <li>Feilsøking og reparasjoner av instrumenter.</li>
        <li>Oppsett og drift av datakommunikasjon mellom feltstasjoner og innsamlingssentral, GSM/GPRS/Internett</li>
        <li>
          Bestilling av forbruksmateriell for instrumenter og dataloggere mm 

        </li>
        </div>
      
    </div>
    </div>

    <div class="ferdigheter">
      <div class="språk">
      <h3>Språk</h3>
      <p>Norsk morsmål <br>Engelsk meget godt skriftlig og muntlig</p>
      </div>
    
    <div class="programmeringsspråk">
      <h3>Programmeringsspråk</h3>
      <p>Javascript, HTML, CSS, Java, Python, jQuery, Node.js</p>
    </div>
</div>



    <div>
      <h3>Referanser</h3>
      <h4>Ytterligere referanser oppgis ved forespørsel</h4>
    </div> -->
  </body>
</html>
