<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Kristian</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-space-between"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="#"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#prosjekter">Projekter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="#"
                >Om</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/contact">Kontakt</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Main content -->
    <div class="px-4 py-5 my-5 text-center">
      <img
        class="d-block mx-auto mb-4"
        src="/styles/images/Bilde-meg-4.png"
        alt=""
        height="250"
        style="border-radius: 50%"
      />
      <h1 class="display-5 fw-bold text-body-emphasis">
        <!-- Junior Fullstack Utvikler -->
      </h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
          <!-- 32år gammel elektroingeniør med en lidenskap for å utvikle. Vært
          ingeniør i 9år og ser etter en karrie innen fullstack utvikling. -->
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <!-- <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
            Primary button
          </button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">
            Secondary
          </button> -->
        </div>
      </div>
    </div>

    <!-- Projekter -->
    

    <div class="album py-5 bg-body-tertiary">
      <div class="container">
        
          <h1 id="prosjekter" style="margin-bottom: 40px;">Prosjekter</h1>
        
        
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <a href="/cv">
          <div class="col">
            <div class="card shadow-sm">
              <img
                src="/styles/images/cv-utsnitt.PNG"
                alt="Bilde meg"
                class="card-img-top"
                height="225"
                style="object-fit: fill"
              />
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Min CV</text>
              </svg>
              <div class="card-body">
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-body-secondary">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          </a>

          <div class="col">
            <div class="card shadow-sm">
              <img
                src="/styles/images/EgilEng.JPG"
                alt="Bilde meg"
                class="card-img-top"
                height="225"
                style="object-fit: cover"
              />
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Firmanettside</text>
              </svg>
              <div class="card-body">
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-body-secondary">9 mins</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img
                src="/styles/images/Terning Spill.JPG"
                alt="Bilde meg"
                class="card-img-top"
                height="225"
                style="object-fit: cover"
              />
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Terningspill</text>
              </svg>
              <div class="card-body">
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-body-secondary">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img
                src="/styles/images/Cinema.JPG"
                alt="Bilde meg"
                class="card-img-top"
                height="225"
                style="object-fit: cover"
              />
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Kinobillett</text>
              </svg>
              <div class="card-body">
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-body-secondary">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
