<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <div class="intro-screen">
      <h1 class="intro-text">Hei, jeg er <span>Kristian</span> <br>Velkommen til portoføljen min</br></h1>
    </div>


    <script src="/styles/intro.js"></script>
  </body>
</html>
